@media (width <=800px) {
}
/*billedet */

/*.grid_4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-left: 10rem;
  padding-top: 4rem;
  text-align: center; /* Centrerer tekst under billedet 
  margin: 20px auto;  Placerer det midt på siden 
}
*/

/*img {
  display: block;
  flex-direction: column;
}*/

/* tekst*/
.text {
  padding-left: 35rem;
  margin-top: 7rem;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}

.grid_3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}
.grid_3 img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.gruppe1 {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.header {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  font-size: 2vw;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.Bestil {
  list-style: none;
  text-decoration: none;
}
