img {
  width: 100%;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 900px;

  margin: 0 auto;
  gap: 20px;
  padding-bottom: 150px;
}

.grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  width: fit-content;
  margin: 2rem auto;
}

.grid_2 img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.bag {
  padding: 2rem;
  margin-top: -18px;
}

.background {
  padding: 5rem;
  background-color: #fbf7ee; /* lys baggrund */
  width: 100%;
  box-sizing: border-box;
  margin: 2rem auto 8rem auto;
}

.baggrund {
  position: relative; /* gør containeren reference for absolut position */
  padding: 2rem;
  background-color: #fbf7ee;
  box-sizing: border-box;
  overflow: hidden; /* evt for at skjule overskydende tekst */
}

.baggrund:hover {
  background-color: #e0d7c0;
  transform: scale(1.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.baggrund img {
  width: 100%;
  height: auto;
  display: block;
}

.lottie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 210px;
  margin-bottom: 100px;
  width: 70vw;
  position: relative;
  left: 0;
  right: 0;
}

.grid1p,
.grid1pp,
.grid1ppp {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  color: rgb(0, 0, 0);
  font-size: 3vw;
  margin: 0;
  background-color: white;

  width: auto; /* or fixed like 180px if you prefer */
  padding: 5px 20px; /* adjust horizontal padding */

  z-index: 10;
  white-space: nowrap; /* or normal if you want line breaks */
  text-align: center;
}

@media (max-width: 800px) {
  .grid_1 {
    grid-template-columns: 1fr;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .grid_2 {
    grid-template-columns: 1fr;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .grid_2 img {
    height: auto;
    object-fit: contain;
    padding: 1rem;
  }
  .baggrund:hover {
    background-color: #fbf7ee;
    transform: none;
    transition: none;
    cursor: pointer;
  }
  .bag {
    padding: 2rem;
    margin-top: -18px;
  }
  .grid1p {
    font-size: 6vw;
    width: auto;
    padding: 0;
    white-space: normal;

    display: flex;
    justify-content: center;
    position: relative;
  }

  .grid1pp {
    font-size: 6vw;
    width: auto;
    padding: 0;
    white-space: normal;

    text-decoration: none !important;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .grid1ppp {
    font-size: 6vw;
    width: auto;
    padding: 0;
    white-space: normal;

    display: flex;
    justify-content: center;
    position: relative;
  }
  .baggrund a {
    text-decoration: none !important;
    color: inherit; /* optional: keep link text color consistent */
  }

  .lottie {
    width: 100%;
    justify-content: center;
    padding-right: 0;
    margin: 0 auto;

    padding-bottom: 50px;
  }
}
