main {
  background-color: #eee8db;
}

h1 {
  text-align: center;
  padding: 3rem;
  font-size: 2.2rem;
}

.åbningstider,
.kontakt,
.vej {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.4;
  font-size: larger;

  h3 {
    font-family: "judson";
    padding: 0.5em;
  }
}

iframe {
  padding: 3rem;
}

section {
  margin-bottom: 4rem;
}
